@import "common.css";

.article header {
    margin-bottom: 2.5em;
}

.article header h1.title {
    margin-bottom: 0.2em;
}

.article header .date {
    font-size: 1.1em;
}

.article p {
    margin-bottom: 1.75rem;
}

.article h1 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.article h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article pre {
    background-color: var(--color-primary-lighterer);
    font-family: monospace;
}

.article-item {
    margin-bottom: 0.35em;
}

.article-item .date {
    color: var(--color-primary-dark);
    font-size: 1em;
    margin-right: 0.6em;
}

.article-item .title {
    text-decoration: underline;
}

.article a {
    color: var(--color-primary);
    text-decoration: underline;
}

.article ul {
    margin-top: -1em;
}

.article pre {
    padding: 1rem;
}

.article code::after {
    content: none;
}

.article code {
    background-color: var(--color-primary-lighterer);
}


@media only screen and (max-width: 576px) {
    .article-item {
        margin-top: 0.6em;
    }

    .article-item .date {
        margin-right: 0.5em;
    }
    
    .article-item .title {
        text-decoration: none;
    }
}
